body {
  font: 100% Helvetica, sans-serif;
  color: #888; }

#stage {
  position: absolute;
  background-color: #888;
  width: 832px;
  height: 468px;
  overflow: hidden; }

#bg {
  position: absolute;
  width: 1664px;
  height: 936px;
  animation-duration: 3s;
  animation-name: slidein;
  background-color: #000;
  background-image: url("../img/bg.png"); }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
