$font-stack:    Helvetica, sans-serif;
$primary-color: #888;

$stage-width: 832px;
$stage-height: 468px;

$bg-offsetX: -100px;
$bg-offsetY: -100px;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#stage {
  position: absolute;
  background-color: #888;
  width: $stage-width;
  height: $stage-height;
  overflow: hidden;
}

#bg {
  position: absolute;
  width: $stage-width * 2;
  height: $stage-height * 2;
  animation-duration: 3s;
  animation-name: slidein;
  background-color: #000;
  background-image: url('../img/bg.png');
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
